<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body class="container">
    <div class="navbar">
        <% if(user) { %>
            <h3><%= "Welcome "+user.name%></h3>
            <a href="/users/logout">logout</a>
        <%} else {%>
            <a href="/">login/ register</a>
        <% } %>
    </div>
    
    <h2>list of articles</h2>

    <section class="addarticle">
        <% if(user){%>
            <a href="/articles/new"> Add</a>
        <% } %>
    </section>
    
    <section >
        <% articles.forEach(article=>{ %>
            <div class="listarticle">
                <a href="/articles/<%= article.id %>">
                    <h3><%= article.title %></h3>
                </a>
                <p>By: <%= article.author.name %></p>
                <p class="articledescription"><%= article.description %></p>
                <p>Posted At : <%= article.updatedAt %></p>
                <% if(user) { %>
                    <% if(user.id == article.author.id){%>
                        <a href="/articles/<%= article.id %>/delete">delete</a>
                        <a href="/articles/<%= article.id %>/update">update</a>
                    <% } %>
                <%}%>
            </div>
            
        <% }) %>
    </section>
    
</body>
</html>